* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-container {
    height: 700px;
    width: 1000px;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    margin: 130px;
}

h1 {
    color: #fff;
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    font-size: 50px;
    margin-top: 6px;
}

#mainImg {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #081b31;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover {
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 2rem;
    color: #081b31;
}

.playerScore {
    height: 25%;
    width: 50%;
    color: white;
    font-size: 2.5rem;
    background-color: rgb(21, 71, 234);

}
.computerScore {
    height: 25%;
    width: 50%;
    color: white;
    background-color: rgba(187, 122, 122, 0.941);
    font-size: 2.5rem;
}

.Score-container {
 display: flex;
}


.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
